In [63]:
import pandas as pd
import random
from datetime import datetime
import pytz

local_tz = pytz.timezone('Asia/Jakarta')
created_at = datetime.now().astimezone(local_tz)
created_at_str = created_at.strftime("%Y-%m-%d %H:%M:%S")



region_data = {

    'id': random.randint(1,3),
    'region_name': random.choice(["North Kalimantan", "East Kalimantan", "South Kalimantan"])
}


customer_data = {

    'id'            : random.randint(1,100),
    'name'          : random.choice(["PT. PTRO", "PT. ABN", "PT. MIL", "PT.GAM"]),
    'customer_type' : random.choice(["Contract", "Spot"]),
    'created_at'    : created_at_str
    
}

In [64]:
region_dataframe = pd.DataFrame(region_data, index=[0])
customer_dataframe = pd.DataFrame(customer_data, index=[0])

region_dataframe
customer_dataframe

   id     name customer_type           created_at
0  47  PT. MIL          Spot  2024-12-14 19:09:09

In [65]:
region_dataframe

   id       region_name
0   2  North Kalimantan

In [74]:
customer_list = []

for i in range(1,5):
    
    customer_data2 = {
        'id': i,
        'name': random.choice(["PT. PTRO", "PT. ABN", "PT. MIL", "PT.GAM"]),
    }

    if customer_data2['name'] in customer_list['name']:
        None
    else: customer_list.append(customer_data2)

TypeError: list indices must be integers or slices, not str